* 
{
    overflow-x: hidden !important;
}

body 
{
    margin: 0;
    font-family: sans-serif;
}

.left
{
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 0;
    background-color: rgb(85, 176, 255);
    padding-right: 1rem;
    text-align: center;
}

.text-effect 
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer 
{
    position: absolute;
    font-size: 3rem;
    font-weight: 2000;
    user-select: none;
}

.l1 
{
    color: rgb(255, 255, 255);
    transform: rotateX(35deg);
}

.l2
{
    color: rgb(215, 237, 255);
    transform: translateY(0.1rem) rotateX(35deg);
}

.l3 
{
    color: rgb(164, 213, 255);
    transform: translateY(0.2rem) rotateX(35deg);
}

.l4 
{
    color: rgb(85, 176, 255);
    transform: translateY(0.3rem) rotateX(35deg);
}

.l5 
{
    color: rgb(3, 138, 255);
    transform: translateY(0.4rem) rotateX(35deg);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.right
{
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
}

main 
{
    padding: 0 2rem;
    display: flex;
    justify-content: space-evenly;
}

main > div 
{
    width: 45%;
    height: 100%;
}

main > div > h2:not(:first-child)
{
    margin-top: 3rem;
}

ul 
{
    list-style: none;
    padding-left: 0;
}

li 
{
    list-style: none;
}

li > a 
{
    color: black;
    text-decoration: underline solid 1px rgb(3, 138, 255);
}

li > a > b
{
    color: gray;
}

li:not(:last-child)
{
    margin-bottom: 0.2rem;
}

@media screen and not (min-width: 1270px)
{
    .left 
    {
        position: static;
        width: 100%;
        height: 10rem;
    }

    .right 
    {
        position: static;
        padding-top: 1rem;
        width: 100%;
        height: fit-content;
        background-color: white;
    }
}

@media screen and not (min-width: 670px)
{
    .layer
    {
        font-size: 2.5rem;
    }

    main 
    {
        display: block;
    }

    main > div 
    {
        width: 100%;
    }

    .newsletter > h2 
    {
        margin-top: 2rem;
    }
}